local InfiniteJumpEnabled = true
game:GetService("UserInputService").JumpRequest:connect(function()
	if InfiniteJumpEnabled then
		game:GetService"Players".LocalPlayer.Character:FindFirstChildOfClass'Humanoid':ChangeState("Jumping")
	end
end)

local vu = game:GetService("VirtualUser")
game:GetService("Players").LocalPlayer.Idled:connect(function()
    vu:Button2Down(Vector2.new(0,0),workspace.CurrentCamera.CFrame)
    wait(1)
    vu:Button2Up(Vector2.new(0,0),workspace.CurrentCamera.CFrame)
end)
 
game.StarterGui:SetCore("SendNotification", {
    Title = "Tonkra Hub";
    Text = "Made by tonkra"; -- what the text says (ofc)
    Duration = 10;
})
wait(1)
game.StarterGui:SetCore("SendNotification", {
    Title = "Inf jump working!";
    Text = "Enjoy!"; -- what the text says (ofc)
    Duration = 10;
})
_G.HeadSize = 20
_G.Disabled = true
_G.Color = 168, 235, 255
